<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>JavaAppLauncher</string>
    <key>CFBundleIconFile</key>
    <string>openrefine.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.google.refine.Refine</string>
    <key>CFBundleDisplayName</key>
    <string>OpenRefine</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>OpenRefine</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>3.8.2</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>JVMRuntime</key>
    <string>JRE</string>
    <key>JVMRuntimePath</key>
    <string></string>
    <key>JVMMainClassName</key>
    <string>com.google.refine.Refine</string>
    <key>JVMClassPaths</key>
    <array>
      <string>org/openrefine/packaging/3.8.2/packaging-3.8.2.pom</string>
      <string>org/jvnet/localizer/localizer/1.31/localizer-1.31.jar</string>
      <string>lib/jetty-server-10.0.16.jar</string>
      <string>lib/log4j-slf4j2-impl-2.22.1.jar</string>
      <string>lib/localizer-1.31.jar</string>
      <string>lib/butterfly-1.2.5.jar</string>
      <string>lib/jetty-security-10.0.16.jar</string>
      <string>lib/jetty-io-10.0.16.jar</string>
      <string>lib/commons-io-2.15.1.jar</string>
      <string>lib/velocity-1.6.3.jar</string>
      <string>lib/jetty-http-10.0.16.jar</string>
      <string>lib/oro-2.0.8.jar</string>
      <string>lib/jetty-xml-10.0.16.jar</string>
      <string>lib/rhino-1.7.14.jar</string>
      <string>lib/jetty-util-10.0.16.jar</string>
      <string>lib/javax.servlet-api-4.0.1.jar</string>
      <string>lib/log4j-1.2-api-2.22.1.jar</string>
      <string>lib/slf4j-api-2.0.12.jar</string>
      <string>lib/lessen-1.0.jar</string>
      <string>lib/log4j-core-2.22.1.jar</string>
      <string>lib/commons-collections-3.2.2.jar</string>
      <string>lib/jetty-servlet-api-4.0.6.jar</string>
      <string>lib/commons-lang-2.6.jar</string>
      <string>lib/jetty-servlet-10.0.16.jar</string>
      <string>lib/log4j-api-2.22.1.jar</string>
      <string>lib/jetty-webapp-10.0.16.jar</string>
      <string>lib/commons-lang3-3.14.0.jar</string>
      <string>lib/openrefine-3.8.2-server.jar</string>
    </array>
    <key>JVMVersion</key>
    <string>1.8</string>
    <key>JVMOptions</key>
    <array>
            <string>-Dapple.laf.useScreenMenuBar=true</string>
      <string>-Xdock:name=OpenRefine</string>
      <string>-Xms512M</string>
      <string>-Xmx2048M</string>
      <string>-Drefine.version=3.8.2</string>
      <string>-Drefine.webapp=$APP_ROOT/Contents/Resources/webapp</string>
    </array>
    <key>JVMArguments</key>
    <array/>
    <key>LauncherWorkingDirectory</key>
    <string>$APP_ROOT</string>
  </dict>
</plist>
